body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("laptop.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
  overflow: hidden;
}


button{
  border-radius: 10px;
  font-size: xx-large;
}

button:hover {
  transform: scale(1.03,1.03);
  box-shadow: 3px 3px 3px ghostwhite;
}

.troll{
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 20%;
  width: 40%;
  border: 5px solid whitesmoke;
  border-radius: 20px;
  padding: 10px;

}



#question {
display: flex;
justify-content: center;
align-items: center;
transform: scale(1.75,1.75);
text-decoration: underline;
width: 100%; 
}

input {
  width: 25%;
  height: 45px;
  font-size: xx-large;
}

.buttons{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr 2fr 2fr 4fr;
  grid-gap: 10px;
  width: auto;
}

#y {
  height: 70px;
  width: 100px;
}
#e {
  height: 70px;
  width: 100px;
}
#s {
  height: 70px;
  width: 100px;
}
#n {
  height: 70px;
  width: 100px;
}
#o {
  height: 70px;
  width: 100px;
}

#enter {
  height: 100px;
  width: 200px;
}