body {
  height: 98vh;
  width: 100vw;
  overflow: hidden;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px solid white;
}


.body {
  display: grid;
  justify-content: center;
  justify-items: center;
  word-wrap: normal;
  height: 100%;
}



h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transform: scale(2,2);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  transform: scale(2,2);
}